[submodule "vendor/gnome-terminal-colors-solarized"]
	path = vendor/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vendor/dircolors-solarized"]
	path = vendor/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
