[user]
	name = Nikolay Markov
	email = mainameiz@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
  visual = !gitg
  rmc = rm --cached
  rmt = remote
[color]
  ui = true
[config]
  [format]
