[user]
	name = Nikolay Markov
  email = mainameiz@gmail.com
  pgpsign = true
	signingkey = 8C3A555D
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	quotepath = off
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
  visual = !gitg
  rmc = rm --cached
  rmt = remote
  up = pull --rebase
  put = push origin HEAD
  aa = add --all
  ciam = commit --amend --no-edit
  ciame = commit --amend --edit
[color]
  ui = true
[config]
  [format]
[push]
  default = current
